@font-face{

    font-family: Economica;
    src: url(./assets/economica-bold.ttf)
}

@font-face{

    font-family: Roboto;
    src: url(./assets/roboto-condensed.light.ttf)
}

body{
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    font-family: 'Roboto';
}


h1, h2,h3,h4,h5 {
    font-family: 'Economica';
}

.track{
    width: 250px;
    height:250px;
    display: inline-block;
    position:relative;
    margin:20px;
    cursor:pointer;
}


.track-image{
    width: 250px;
    height:250px;
}

.track-text{
    width: 250px;
    top: 0px;
    color: black;
    padding: 5px;
}

.track-icon{
    position: absolute;
    bottom: 60px;
    left: 100px;
    color: white;
    padding: 10px;
    opacity: 0.8;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    background-color: black;
}
